@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオンメニュー */

  .menu-trigger span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
    left: 20px;
  }

  .menu-trigger span:nth-child(2) {
    top: 18px;
    transform: rotate(45deg);
  }


  .menu-trigger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(45deg);
    left: 20px;
  }

  .menu-trigger.active span:nth-child(2) {
    top: 18px;
    transform: rotate(-45deg);
  }

  .menu-trigger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
  }

  .menu-trigger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #fff;
    border-radius: 3px;
    transition: .35s ease-in-out;
  }

  .menu-list {
    display: none;
  }

  .content {
    text-align: center;
  }

  .post_button {
    display: block;
    background-image: url(../images/post.png);
    background-size: contain;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 25%;
  }

  .icon {
    display: block;
    background-image: url(../images/icon1.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50%;
  }

    /* .menu {
    display: block;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    height: 100vh;
  }

  .menu ul{
    display: block;
  }

  .menu.active{
    transform: translateY(0%);
    transition: .5s ease-in-out;
  }

  .menu-sp {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f63001;
    width: 100%;
    height: 60px;
    padding: 4%;
    z-index: 3;
  } */
